# ================= DATASETS =================
archive (4)/
dataset/
data/

# ================= LARGE FILES =================
*.zip
*.csv
*.h5
*.keras
*.pth
*.onnx

# ================= PYTHON =================
__pycache__/
.ipynb_checkpoints/
*.pyc

# ================= VIRTUAL ENV =================
venv/

# ================= ENV FILES =================
.env

# ================= FRONTEND =================
node_modules/
build/
dist/

# ================= OS FILES =================
.DS_Store

# ================= LOGS =================
*.log
